.albums-cover{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 100%;
    min-height: 40vh;
}
.load-albums{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensure the container takes the full viewport height */
    text-align: center; 
  
}

.album-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: linear-gradient(0deg, gray, black);
    list-style: none;
  }

.album-card {
    width: 300px;
    margin: 10px;
    background-color: gray;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .album-card img {
    width: 100%;
    height: auto;
  }
  
  .album-card-content {
    padding: 16px;
  }