.individual-album{
    height: 100vh;
    background: linear-gradient(0deg, gray, black);
}

.individual-cover{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #fff;
    justify-content: left;
    align-items: left;
}

.individual-cover h1{
    color: #fff;
    font-size: 5vw;
    padding-left: 5vw;
    text-align: center;
    margin: auto;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Steelfish Rg', 'helvetica neue', 
                            helvetica, arial, sans-serif;
    font-weight: 800;
}

.individual-tracks{
    padding-top: 10px;
    
}

.track-head{
    display: flex;
    flex-direction: row;
    background: linear-gradient(0deg, gray, black);
}
.individual-tracks li{
    justify-content: left;
    align-items: left;
    text-align: left;
}

.track{
    background: linear-gradient(0deg, gray, black);
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 100vw;
}