.about-Tuku{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    background-image: url(
"om.jpg");
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 1px;
            font-size: 120px;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Steelfish Rg', 'helvetica neue', 
                            helvetica, arial, sans-serif;
            font-weight: 800;
            -webkit-font-smoothing: antialiased;
            
  }

  .cover-tuku{
    background-image: 'olicover.jpg';
    background-color: aliceblue;
  }
  
  

.about-main {
    min-height: 100vh;
    background-color: black;
}

.apple:hover{
    opacity: 0.5;
}

.spotify:hover{
    opacity: 0.5;
}

.ytmusic:hover{
    opacity: 0.5;
} 

.youtube:hover{
    opacity: 0.5;
}