@media only screen and (min-width: 900px) {
    .header{
        display: flex;
        background-color: black;
        color: aliceblue;
        min-height: 5vh;
        height: 50px;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
    }

    h4 {
        color: aliceblue;
        font-family: 'Ink Free';
    }

    .home{
    

    }
    
    .about{
       

    }
    .albums{
       

    }

    .home:hover{
        text-decoration: line-through;
        text-decoration-color: #fff;
        text-decoration-thickness: 5px;

    }
    
    .about:hover{
        text-decoration: line-through;
        text-decoration-color: #fff;
        text-decoration-thickness: 5px;

    }
    .albums:hover{
        text-decoration: line-through;
        text-decoration-color: #fff;
        text-decoration-thickness: 5px;

    }

    .home-active{
        
    }
    .about-active{

    }
    .albums-active{
        
    }
}